- Do this until your centroid position does not changes

In [19]:
from sklearn.cluster import KMeans

from scipy.cluster.hierarchy import linkage, dendrogram
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import warnings 
warnings.filterwarnings('ignore')

In [57]:
milk = pd.read_csv('milk.csv',index_col=0)
milk.head()

           water  protein  fat  lactose   ash
Animal
HORSE       90.1      2.6  1.0      6.9  0.35
ORANGUTAN   88.5      1.4  3.5      6.0  0.24
MONKEY      88.4      2.2  2.7      6.4  0.18
DONKEY      90.3      1.7  1.4      6.2  0.40
HIPPO       90.4      0.6  4.5      4.4  0.10

In [58]:
scaler = StandardScaler().set_output(transform='pandas')
milk_sclaed = scaler.fit_transform(milk)

In [59]:
score = []
n_clust = [2,3,4,5,6]
for i in n_clust:
    clust = KMeans(n_clusters=i, random_state=24)
    clust.fit(milk_sclaed)
    score.append(silhouette_score(milk_sclaed, clust.labels_))
print(score)

i_max = np.argmax(score)                                 # Return the index of best score number
print("Best No. of Clusters : ", n_clust[i_max] )        # Return the best score number
best_score  = np.max(score)                              # Return Best score
print("Best score is        : ",best_score)

[0.5258508931703421, 0.48757649189546187, 0.4434805028424465, 0.3942307537498656, 0.3948525867678605]
Best No. of Clusters :  2
Best score is        :  0.5258508931703421

In [60]:
# On The give Best Silouette Score 
clust = KMeans(n_clusters=2)
clust.fit(milk_sclaed)
silhouette_score(milk_sclaed, clust.labels_)

0.5258508931703421

In [61]:
# Cluster Analysis
milk_clust = milk.copy()

# adding the cluster label into dataframe
milk_clust['cluster'] = clust.labels_

# Analysing the individual
print(milk_clust.sort_values('cluster'))

# calculating the mean on the basis of cluster label
milk_clust.groupby('cluster').mean()

            water  protein   fat  lactose   ash  cluster
Animal
DOLPHIN      44.9     10.6  34.9      0.9  0.53        0
WHALE        64.8     11.1  21.2      1.6  1.70        0
REINDEER     64.8     10.7  20.3      2.5  1.40        0
DEER         65.9     10.4  19.7      2.6  1.40        0
RAT          72.5      9.2  12.6      3.3  1.40        0
RABBIT       71.3     12.3  13.1      1.9  2.30        0
DOG          76.3      9.3   9.5      3.0  1.20        0
SEAL         46.4      9.7  42.0      0.0  0.85        0
ELEPHANT     70.7      3.6  17.6      5.6  0.63        1
SHEEP        82.0      5.6   6.4      4.7  0.91        1
ZEBRA        86.2      3.0   4.8      5.3  0.70        1
PIG          82.8      7.1   5.1      3.7  1.10        1
HORSE        90.1      2.6   1.0      6.9  0.35        1
FOX          81.6      6.6   5.9      4.9  0.93        1
CAT          81.6     10.1   6.3      4.4  0.75        1
GUINEA PIG   81.9      7.4   7.2      2.7  0.85        1
BUFFALO      82.1      5.9   7.9      4.7  0.78        1
BISON        86.9      4.8   1.7      5.7  0.90        1
CAMEL        87.7      3.5   3.4      4.8  0.71        1
HIPPO        90.4      0.6   4.5      4.4  0.10        1
DONKEY       90.3      1.7   1.4      6.2  0.40        1
MONKEY       88.4      2.2   2.7      6.4  0.18        1
ORANGUTAN    88.5      1.4   3.5      6.0  0.24        1
LLAMA        86.5      3.9   3.2      5.6  0.80        1
MULE         90.0      2.0   1.8      5.5  0.47        1

             water    protein        fat   lactose       ash
cluster
0        63.362500  10.412500  21.662500  1.975000  1.347500
1        85.158824   4.235294   4.964706  5.147059  0.635294

# rfm_data_customer Dataset

In [41]:
# recency = the period lapsed since last visit of customer (current date - most recent visit) -drop date 
# Frequency = how freqent was customer in placing oreder
# Monetary = Revenue from that custom

rfm = pd.read_csv('rfm_data_customer.csv',index_col=0)
rfm.drop(columns='most_recent_visit', inplace=True)
rfm

             revenue  number_of_orders  recency_days
customer_id
22086            777                 9           232
2290            1555                16           115
26377            336                 5            43
24650           1189                12            64
12883           1229                12            23
...              ...               ...           ...
3249             998                10            31
6686             771                 8           187
16418           1016                 9           154
9117             678                 7           195
19184           1519                13           113

[39999 rows x 3 columns]

In [45]:
scaler = StandardScaler().set_output(transform='pandas')
rfm_sclaed = scaler.fit_transform(rfm)

In [48]:
# Finding the best no of clusters
score = []
n_clust = [2,3,4,5,6]
for i in n_clust:
    kmean = KMeans(n_clusters=i, random_state=24)
    kmean.fit(rfm_sclaed)
    score.append(silhouette_score(rfm_sclaed, kmean.labels_))
print(score)

i_max = np.argmax(score)                                 # Return the index of best score number
print("Best No. of Clusters : ", n_clust[i_max] )        # Return the best score number
best_score  = np.max(score)                              # Return Best score
print("Best score is        : ",best_score)
print(kmean.labels_)

[0.3619175885782477, 0.37102897041720206, 0.3229983236688364, 0.3249751004529168, 0.288058231818753]
Best No. of Clusters :  3
Best score is        :  0.37102897041720206

In [55]:
# On The give Best Silouette Score 
clust = KMeans(n_clusters = n_clust[i_max], random_state=24)
clust.fit(rfm_sclaed)
silhouette_score(rfm_sclaed, clust.labels_)

0.37102897041720206

In [56]:
# Cluster Analysis

rfm_clust = rfm.copy()

# adding the cluster label into dataframe
rfm_clust['cluster'] = clust.labels_

# Analysing the individual
print(rfm_clust.sort_values('cluster'))

# calculating the mean on the basis of cluster label
rfm_clust.groupby('cluster').mean()

3
             revenue  number_of_orders  recency_days  cluster
customer_id
19184           1519                13           113        0
10386           1193                11           234        0
26696            971                12           146        0
28572            965                13           163        0
12804           1059                12           131        0
...              ...               ...           ...      ...
11457            554                 4           410        2
28289           1084                 9           362        2
3054             958                 9           360        2
34260           1100                 8           341        2
6767             665                 7           340        2

[39999 rows x 4 columns]

             revenue  number_of_orders  recency_days
cluster
0        1281.119459         12.909267    133.255123
1         749.292247          8.227773    136.139784
2         692.414498          7.351090    416.697185